html {
    background-image: linear-gradient(to bottom, white 0%,#d3fa8a 100%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

a:focus, a:hover {
    font-style: italic;
    color:#a2ec77
}

header h1 {
    font-size: 175%;
    color: rgb(105, 218, 220);
    text-indent: 30px;
}

header h2 {
    font-size: 130%;
    color: #88f0d1;
    text-indent: 30px;
}

header img {
    float: left;
}

.shadow {
    text-shadow: 2px 2px 2px rgb(243, 224, 53);
}

main {
    clear: left;
}

main h3 {
    margin: 3em 2em 1.5em;
    font-size: 105%;
    border: 5px double paleturquoise;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px yellowgreen;
    padding: 1em;
}
main nav {
    margin: 1.5em 2em 1.5em;
    border: 5px dashed paleturquoise;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px yellowgreen;
}

div.contact {
    margin: 1.5em 2em 0em 2em;
    border: 5px dotted paleturquoise; 
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px yellowgreen;
    padding: 1em;
}
#list{
    line-height: 1.5em;
}

footer p.copyright{
    text-align: center;
    font-family: 80%;
    display: inline;
}