#nav_menu ul { 
    list-style-type: none; 
}
#nav_menu ul li { 
    float: left; 
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
}

#nav_menu ul li a.lastitem { 
    border-right: none; 
}	

#nav_menu ul li a.current { 
    color: yellow; 
}

header { 
    padding-bottom: 2em;
    border-bottom: 2px solid #ef9c00; 
}

article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: rgb(87, 15, 170);
}

article {
    column-count: 3;
    column-rule: 4px dotted #1400ef;
    column-gap: 3em;
    margin-left: 2em;
}

article  {
    column-span: all;
}

article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

aside {
    position: fixed;
    bottom: 35%;
    right: 0%;
    width: auto;
    border: 3px solid rgb(6, 69, 85);
    background-color: rgb(89, 206, 235);
    padding: 2em;
}

aside ol {
    list-style-type: upper-roman;
}

aside ul {
    list-style-type: square;
}

footer {
    clear: both;
    border-top: 2px solid #0a0a0a;
}

footer p.copyright {
    text-align: center;
    font-size: 80%;
}



