html {
    background-image: linear-gradient(to left, white 0%,#d3fa8a 100%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

a:focus, a:hover {
    font-style: italic;
    color:#a2ec77;
    border: 3px blue;
    border-style: dotted solid;
}

header h1 {
    font-size: 175%;
    color: rgb(105, 218, 220);
    text-indent: 30px;
    
}


header h2 {
    font-size: 130%;
    color: #88f0d1;
    text-indent: 30px;
}

header h3 { 
    clear: both;
    border-bottom: 2px solid rgb(118, 255, 207);
    
}

header img {
    float: left;
    margin-left: 2em;
}

.shadow {
    text-shadow: 2px 2px 2px rgb(243, 224, 53);
}

article {
    clear:left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted rgb(48, 3, 98);
    column-gap: 2em;
    margin-left: 2em;
}

article h3{
    column-span: all;
}

article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: rgb(181, 225, 2);
}

aside {
    width: 20%;
    float: right;
    background-color: #a2ec77;
    padding-left: 2em;
}

footer {
    clear: both;
    border-top: 2px solid rgb(3, 50, 34);
}

footer p.copyright {
    text-align: center;
    font-size: 80%;
}

p.fixed {
    width: auto;
    position: fixed;
    bottom: 35%;
    right: 0%;
    border: 3px solid darkgreen;
    background-color: lightgreen;
    padding-left: 2em;

}